
body{
overflow-x: hidden;

}

/*navbar*/
.navbar {
   background-color: transparent;
   background: transparent;
}

.navbar-inverse .navbar-nav>li>a{
   color: white;
   font-size: 1.2em;
 }

 /*carousel*/

.carousel .item  {
    width: 100%;
    height: 100vh;
}

.carousel .item img{
    width: 100%;
}

.carousel-caption{
    margin-left: -9999px;
}

#back{
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: black;
    background: rgba(0,0,0,0.55);
    padding: 2em;
    color: white;
}

#back:hover{
    padding: 4em; 
}

	
	#theMilkyWay{
		background-size:100% auto;
		background-image: url("../img/theMilkyWay.jpg");
}



.pd10{
	padding: 10%;
}
.pd5{
	padding: 5%;
}

.full{
height: 100vh;
}


.hcenter{
margin: auto;
}