
body{
overflow-x: hidden;

}

/*navbar*/

.navbar {
   background-color: transparent;
   background: transparent;
}

.navbar-inverse .navbar-nav>li>a{
   color: white;
   font-size: 1.2em;
 }



/*full height*/

.full{
height: 100vh;
}


 /*carousel*/

.carousel .item  {
    width: 100%;
    height: 100vh;
}

.carousel .item img{
    width: 100%;
}

.carousel-caption{
    margin-left: -9999px;
}


/*back to top*/
#backToTop {
  display: none;
}
#back{
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: black;
    background: rgba(0,0,0,0.55);
    padding: 1em;
    color: white;
}

#back:hover{
    background: green;
}


	

#theMilkyWay{
		background-size:100% auto;
		background-image: url("../img/theMilkyWay.jpg");
}

    #theMilkyWay .sectionHeader{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-size: 3em;
    }

#theSun{
    background-size:100% auto;
    background-image: url("../img/theSun.jpg");
}

    #theSun .sectionHeader{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-size: 3em;
    }
  
#theEarth{
    background-size:100% auto;
    background-image: url("../img/theEarth.jpg");
}

    #theEarth .sectionHeader{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-size: 3em;
    }


#theRule{
    background-size:100% auto;
    background-image: url("../img/theRule.jpg");
}

    #theRule .sectionHeader{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-size: 3em;
    }