body {
overflow-x: hidden;
-ms-overflow-style: none;
}

body::-webkit-scrollbar { 
    display: none; 
}

*:focus {
    outline: 0;
}


/*navbar*/
.navbar {
   background-color: transparent;
   background: transparent;
}
.navbar-inverse .navbar-nav>li>a {
   color: white;
   font-size: 1.2em;
 }

/*full height*/
  .full {
  height: 100vh;
  }

/*carousel*/
.carousel .item  {
    width: 100%;
}
.carousel .item img {
    width: 100%;
}
.carousel-caption {
    margin-left: -9999px;
}
#slide1 {
    background: url("../img/theMilkyWay.jpg") no-repeat center center;
    background-size: cover;
}
#slide2 {
    background: url("../img/theSun.jpg") no-repeat center center;
    background-size: cover;
}
#slide3 {
    background: url("../img/theEarth.jpg") no-repeat center center;
    background-size: cover;
}
#slide4 {
    background: url("../img/theMilkyWay.jpg") no-repeat center center;
    background-size: cover;
}

/*back to top*/
#backToTop {
  display: none;
}
#back {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: black;
    background: rgba(0,0,0,0.55);
    padding: 1em;
    color: white;
}
#back:hover {
    background: green;
}

/*sections*/
.sectionHeader {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      font-size: 3em;
}
#theMilkyWay {
		background: url("../img/theMilkyWay.jpg") no-repeat center center;
    background-size: cover;
}
#theSun {
    background: url("../img/theSun.jpg") no-repeat center center;
    background-size: cover;
}
#theEarth {
    background: url("../img/theEarth.jpg") no-repeat center center;
    background-size: cover;
}


#anim {
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  animation: anim 2s ease-in 0s infinite alternate;
  -webkit-animation: anim 2s ease-in 0s infinite alternate;
}

@keyframes anim {
  from {
    text-shadow: 1em 1em 0.3em black;
    font-size: 5em;
    color: red;
  }

  to {
    text-shadow: 0px 0px 0.1em black;
    color: blue;
    font-size: 3em;
  }
}
@-webkit-keyframes anim {
  from {
    text-shadow: 1em 1em 0.3em black;
    font-size: 5em;
    color: red;
  }

  to {
    text-shadow: 0px 0px 0.1em black;
    color: blue;
    font-size: 3em;
  }
}