/*full width slider*/
body{
overflow-x: hidden;
}
	.glyphicon-asterisk{
	 font-size: 1.7em;en
	 color: green;
	}
	
	
	
	.sgreen{
	background-color: green;
	}
	.swhite{
	background-color: white;
	}

.carousel .item {
    width: 100%; /*slider width*/
    /*max-height: 600px; /*slider height*/
	height: 100vh;
}
.carousel .item img {
    width: 100%; /*img width*/
}

.carousel-caption{
	margin-left: -9999px;
}



.pd10{
	padding: 10%;
}
.pd5{
	padding: 5%;
}

.height100{
height: 100vh;
}

.hcenter{
margin: auto;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*tranparent navbar*/
.navbar {
   background-color: transparent;
   background: transparent;
}

/*.navbar li { color: #000 } */
 .navbar-default .navbar-nav > li > a {
   color: white;
   font-size: color: 1.2em;
    }
	
	.navbar a {
    color: white;
}