/*full width slider*/
.carousel .item {
    width: 100%; /*slider width*/
    /*max-height: 600px; /*slider height*/
	height: 100vh;
}
.carousel .item img {
    width: 100%; /*img width*/
}

.block{
height: 100vh;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*tranparent navbar*/
.navbar {
   background-color: transparent;
   background: transparent;
}

.navbar li { color: #000 } 
